/* Component-specific styles if needed */
ul {
  list-style-type: disc;
  list-style-position: outside;
}

li {
  display: list-item;
  list-style-type: disc;
}

mat-chip {
  vertical-align: top !important;
  align-self: flex-start;
}

::ng-deep mat-chip .mdc-evolution-chip__text-label,
::ng-deep mat-chip .mat-mdc-chip-action-label {
  vertical-align: top !important;
}

::ng-deep mat-chip .mat-mdc-chip-action {
  vertical-align: top !important;
}
